.tile {
  width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 8px 16px 8px;
  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
    0px 1px 5px rgba(191, 196, 201, 0.24);
  border-radius: 10px;
}

/* .list {
  width: 100%;
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: space-between;
} */

.noRating {
  padding-bottom: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #A7A7A7;
}

@media (max-width: 768px) {

  .tile {
    padding: 8px 8px 16px 8px;
  }
}

@media (max-width: 320px) {

  .tile {
    width: 100%;
    padding: 8px 16px 16px 16px;
  }
}
